{% comment %}
Отрисовываем навигацию паджинатора только если
все посты не помещаются на первую страницу
{% endcomment %}
{% if new_stat_data.has_other_pages %}
  <ul class="nav justify-content-center">
    {% if new_stat_data.has_previous %}
      <li class="nav-item"><a class="nav-link active" href="?page=1">Первая</a></li>
      <li class="nav-item">
        <a class="nav-link" href="?page={{ new_stat_data.previous_page_number }}">
          Предыдущая
        </a>
      </li>
    {% endif %}
    {% for i in new_stat_data.paginator.page_range %}
        {% if new_stat_data.number == i %}
          <li class="nav-item active">
            <span class="nav-link">{{ i }}</span>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
    {% endfor %}
    {% if new_stat_data.has_next %}
      <li class="nav-item">
        <a class="nav-link" href="?page={{ new_stat_data.next_page_number }}">
          Следующая
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?page={{ new_stat_data.paginator.num_pages }}">
          Последняя
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}